image: python:3

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/pip-cache"

cache:
  paths:
    - "$CI_PROJECT_DIR/pip-cache"
  key: "$CI_PROJECT_ID"

stages:
  - test
  - build

check_style:
  stage: test
  script:
    - pip install -r requirements.txt
    - flake8

build_wheel:
  stage: build
  script:
    - pip install -U setuptools wheel
    - pip install -r requirements.txt
    - python setup.py bdist_wheel
  artifacts:
    paths:
      - dist/
  only:
    - master

build_docker:
  stage: build
  image: docker:git
  services:
    - docker:dind
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.ais.cmc.osaka-u.ac.jp
    - docker build -t registry.ais.cmc.osaka-u.ac.jp/tis/seot-agent .
    - docker push registry.ais.cmc.osaka-u.ac.jp/tis/seot-agent
  only:
    - master
