---
agent:
  user_id: keichi
  coordinate:
    longitude: 34.8222789
    latitude: 135.5258597

cpp: {}

nodes:
  - module: seot.agent.sinks.zmq
    class: ZMQSink
  - module: seot.agent.sinks.mongodb
    class: MongoDBSink
  - module: seot.agent.sources.zmq
    class: ZMQSource
  - module: seot.agent.sinks
    class: DebugSink
  - module: seot.agent.sources
    class: ConstSource
  - module: seot.agent.sources.sense_hat
    class: SenseHatSource
  - module: seot.agent.sources.stub_sense_hat
    class: StubSenseHatSource
  - module: seot.agent.transformers.docker
    class: DockerTransformer
