---
agent:
  user_id: keichi
  coordinate:
    longitude: 34.8222789
    latitude: 135.5258597

cpp: {}

nodes:
  - module: seot.agent.sinks.zmq_sink
    class: ZMQSink
  - module: seot.agent.sinks.mongodb_sink
    class: MongoDBSink
  - module: seot.agent.sources.zmq_source
    class: ZMQSource
  - module: seot.agent.sinks
    class: DebugSink
  - module: seot.agent.sources
    class: ConstSource
  - module: seot.agent.sources.sense_hat_source
    class: SenseHatSource
  - module: seot.agent.sources.stub_sense_hat_source
    class: StubSenseHatSource
  - module: seot.agent.transformers.docker_transformer
    class: DockerTransformer
